input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input {
  position: relative;
}

.input__field {
  width: 100%;
  padding: 13px;
  outline: none;
  border: none;
  border: 1px solid #484242;
  border-radius: 8px;
  background-color: white;
  font-size: 19px;
}

.input__label {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 5px;
}
.arrow {
  border: 1px solid grey;
  padding: 5px;
  position: absolute;
  top: 50%;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:active {
  background-color: grey;
}

.arrow_up {
  top: calc(50% - 6px);
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}

.arrow_down {
  top: calc(50% + 13px);
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

.arrow__image {
  width: 10px;
  user-select: none;
}

.arrow__image_down {
  transform: rotate(180deg);
  top: 10px;
}
