/* Customize the label (the checkbox) */
.checkbox {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox:last-of-type {
  margin-bottom: 50px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #bec5e9;
}

.checkbox:hover input ~ .checkbox__mark {
  background-color: #929abe;
}

.checkbox input:checked ~ .checkbox__mark {
  background-color: #4e5994;
}

.checkbox__mark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkbox__mark:after {
  display: block;
}

.checkbox .checkbox__mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
